# ENV file for spider-gate app
#
# --- API SERVER PORT ---
# The port on which the SpiderGate API server will listen for incoming requests.
# The default port used by SpiderGate is 3000 but this can be overridden by setting the PORT environment variable.
PORT=3000
#
# --- ENVIRONMENT ---
# The environment in which SpiderGate is running. This value is used to determine which configuration settings to use.
# This value can be set to either "development" or anything else. The default value is nothing.
# If "development" it will search for the orbs.json config at: In the same path as the SpiderGate app.
# Otherwise it will search for the orbs.json config at: Two directories back from SpirderGate (ex: ../../SpiderGate/)
NODE_ENV=production